    <% @users_all.each do |user| %>
    
    <% if !follow_exist?(user.id) %> 
    <% if !current(user.id) %>  
      <div class='d-flex align-items-center w-100 justify-content-center pt-3'>
        <img src="<%= user.photo %>" alt="profile-pic" class='profile-pic'>
        <span class='mx-3'>
            <%= user.username %>
        </span>
      </div>
      <div class='text-center' >
        <%= link_to 'See profile', user_path(user.id), class:'btn btn-transparent text-primary' %>
      </div>
      <div class='border-top py-1'></div>
      <% end %>
      <% end %>
    <% end %>
