<br> <br>
<ul class="nav">
  <% if !logged_in? %>
  <li class="nav-item">
    <%= link_to 'SignIn', login_path %> |
  </li>
  <li class="nav-item">
    <%= link_to 'SignUp', login_path, method: :post %> |
  </li>
  
  <% end %>

  <% if logged_in? %>
  <li class="nav-item">
    <%= link_to 'Home', tweets_path %> |
  </li>
  <li class="nav-item">
    <%= link_to 'Logout', logout_path %> |
  </li>
  
  <% end %>
  
</ul>